<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Liga de Futbol</title>
    </h:head>
    <h:body>
      <f:view>
	<h:form>
    	<h:panelGrid id="MainGrid" columns="2" >
				<h:outputText value="Equipo Local" />
	                <h:selectOneMenu id="equipoLocal" value="#{partidoBean.partido.equipoLocal}">
    					<f:selectItems value="#{ligaBean.equipos}" var="equipo"
    									itemLabel="#{equipo.nombre}" itemValue="#{equipo.idEquipo}"/>
    					<f:converter converterId="StringToEquipo"></f:converter>
					</h:selectOneMenu>

					<h:outputText value="Equipo Visitante" />
					<h:selectOneMenu id="equipoVisitante" value="#{partidoBean.partido.equipoVisitante}">
						<f:selectItems value="#{ligaBean.equipos}" var="equipo"
										itemLabel="#{equipo.nombre}" itemValue="#{equipo.idEquipo}"/>
						<f:converter converterId="StringToEquipo"></f:converter>
					</h:selectOneMenu>

				<h:outputText value="Jornada" />
				<h:selectOneMenu value="#{partidoBean.partido.jornada}">
      					<f:selectItems value="#{ligaBean.jornadas}"/>
				</h:selectOneMenu>
				
				<h:outputText value="Fecha" />
				<h:inputText value="#{partidoBean.partido.fecha}">
					<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
					<f:validator validatorId="dateValidator"></f:validator>
				</h:inputText>
				
				<h:outputText value="Resultado" />
				<h:panelGroup>
				<!--  Añadimos el validador y f:validateLongcd... el required=true  -->
                                    <h:inputText size="2" value="#{partidoBean.partido.golesLocal}" required="true">
                                    <f:validateLongRange minimum="0"></f:validateLongRange>
                                    </h:inputText>
                                    -
                                    <h:inputText size="2" value="#{partidoBean.partido.golesVisitante}" required="true">
                                    <f:validateLongRange minimum="0"></f:validateLongRange>
                                    </h:inputText>
                                    <h:selectBooleanCheckbox value="#{partidoBean.porJugar}">
                                        <h:outputText value="Por Jugar" />
                                	</h:selectBooleanCheckbox>
				</h:panelGroup>

                <h:outputText value="Observaciones"/>
				<h:inputTextarea  rows="10" value="#{partidoBean.partido.observaciones}" />


                
				<h:commandButton value="Guardar" action="volver" actionListener="#{partidoBean.guardarListener}"/>
				<h:commandButton value="Cancelar" action="volver" immediate="true"/>
		</h:panelGrid>
		<h:messages />
	</h:form>
</f:view>
    </h:body>
</html>

