<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
<f:view>
		<h:form id="juagoresList">
			    
		   <h:panelGrid id="MainGrid" columns="1" columnClasses="columnGrid" styleClass="mainGrid">
		    
			<h:dataTable id="jugadores" 
						 value="#{JugadorBean.jugadores}" 
						 var="jugador" 
						 styleClass="mainTable"
						 columnClasses="columnTable columnTable1,columnTable columnTable2,columnTable columnTable3,columnTable columnTable4,columnTable columnTable5,columnTable columnTable6">   
			  <h:column >
		       <h:outputText value="#{jugador.nombre}" ></h:outputText>
			  </h:column>
			
			</h:dataTable>
		</h:panelGrid>
			
		<h:panelGrid>
			<h:commandButton value="Volver" action="listPartidos" ></h:commandButton>
		</h:panelGrid>
		
		
		</h:form>
	</f:view>
</body>
</html>