<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
<head>
<meta charset="UTF-8"/>
<title>editar partido</title>
</head>
<body>

	<h:panelGrid border="0" columns="2" >
		<h:outputText value="Equipo Local"></h:outputText>
			<h:selectOneMenu>
				<f:selectItem itemValue="0" itemLabel="Valencia" size="10px"></f:selectItem>
				<f:selectItem itemValue="1" itemLabel="Barcelona"></f:selectItem>
				<f:selectItem itemValue="2" itemLabel="Madrid"></f:selectItem>
				<f:selectItem itemValue="3" itemLabel="Villareal"></f:selectItem>
				<f:selectItem itemValue="4" itemLabel="Levante"></f:selectItem>
			</h:selectOneMenu>
		
		<h:outputText value="Equipo Visitante"></h:outputText>		
			<h:selectOneMenu>
				<f:selectItem itemValue="0" itemLabel="Valencia"></f:selectItem>
				<f:selectItem itemValue="1" itemLabel="Barcelona"></f:selectItem>
				<f:selectItem itemValue="2" itemLabel="Madrid"></f:selectItem>
				<f:selectItem itemValue="3" itemLabel="Villareal"></f:selectItem>
				<f:selectItem itemValue="4" itemLabel="Levante"></f:selectItem>
			</h:selectOneMenu>
		
		<h:outputText value="Jornada"></h:outputText>
			<h:selectOneMenu>
				<f:selectItem itemValue="1" itemLabel="1"></f:selectItem>
				<f:selectItem itemValue="2" itemLabel="2"></f:selectItem>
				<f:selectItem itemValue="3" itemLabel="3"></f:selectItem>
				<f:selectItem itemValue="4" itemLabel="4"></f:selectItem>
				<f:selectItem itemValue="5" itemLabel="5"></f:selectItem>
			</h:selectOneMenu>
		
		<h:outputText value="Fecha"></h:outputText>
		<h:inputText></h:inputText>
			
		<h:outputText value="Resultado"></h:outputText>
		<h:panelGroup>
		<h:inputText></h:inputText> - <h:inputText></h:inputText>
			<h:outputText value="Por Jugar"></h:outputText>
				<h:selectBooleanCheckbox></h:selectBooleanCheckbox>
		</h:panelGroup>
		
		<h:outputText value="Observaciones"></h:outputText>		
			<h:inputTextarea style="width: 422px; height: 143px; "></h:inputTextarea>

		<h:button value="Guardar"></h:button> <h:button value="Cancelar"></h:button>
	</h:panelGrid>
</body>
</html>