<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="layout.xhtml">

<ui:define name="navegacion"><ui:include src="navegacion.xhtml"/></ui:define>


<ui:define name="cuerpo">   
		<h:form>
		<h:outputText value="#{msgs['error.text']}"/>
		<h:commandButton value="#{msgs['error.volver']}" action="listado"></h:commandButton>
		</h:form>
</ui:define>
</ui:composition>

