<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:print="http://java.sun.com/jsf/composite/components"
	  >
<h:head>
	<title>Gestión de Partidos</title>
</h:head>
      
<h:body>

<!-- TODO: Importamos compomente en la vista definiendo el xmlns -->
 <f:view>
		
		<!-- TODO: Usamos el componente 
		     title="Listado de Partidos"
			 items="#{partidoBean.listaDePartidos}" 
			 action="listado"
			 converter="PartidoToString"/>			 
	-->
	<print:listPrinter title="Listado de Partidos"
					   items="#{partidoBean.listaDePartidos}" 
					   action="listado"
					   converter="PartidoToString"/>

</f:view>
</h:body>
</html>


