<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</h:head>
<h:body>

	<table align="center" width="100%" bgcolor="#000000">
	<tr><td>
	<table cellpadding="10" align="center" width="100%" bgcolor="#eeeeee">
		<tr><td bgcolor="#aaaaaa" align="center"><ui:include src="cabecera.xhtml"/></td></tr>
		
		<tr><td width="100%">
			
			<table cellpadding="10" width="100%">
				<tr>
					<td width="10%" bgcolor="#aaaaaa" valign="top"><ui:insert name="navegacion" /></td>
				
					<td width="90%" align="center">
					<table >
					<tr><td><ui:insert name="cuerpo">Cuerpo</ui:insert>
					</td></tr>
					</table>
					</td>
				</tr>
			
			</table>
		
		</td></tr>
			
		<tr><td bgcolor="#aaaaaa"><ui:include src="pie.xhtml"/></td></tr>
	
	</table>
	</td></tr>
	</table>

</h:body>
</html>