<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="layout.xhtml">


<ui:define name="cuerpo">      
<h:form id="bookList">


 		<h:panelGrid id="FilterGrid" columns="2">
		      <h:panelGroup>
		        <h:outputText value="#{msgs['lista.filtroJornada']}"></h:outputText>
		   		<h:selectOneMenu onchange="this.form.submit()" valueChangeListener="#{partidoBean.filtroJornada}">
		   			<f:selectItem  itemValue="Todas" itemLabel="#{msgs['lista.todas']}"/>
		   			<f:selectItems value="#{ligaBean.jornadas}"/>
		   		</h:selectOneMenu>
		      </h:panelGroup>
		      <h:panelGroup>
		        <h:outputText value="#{msgs['lista.filtroEquipo']}"></h:outputText>
		   		<h:inputText value="#{partidoBean.equipo}"></h:inputText>   
		   		<h:commandButton value="ok" actionListener="#{partidoBean.filtroEquipo}"></h:commandButton>
		      </h:panelGroup>
	    </h:panelGrid>
		    
		<h:panelGrid id="MainGrid" columns="1" columnClasses="columnGrid" styleClass="mainGrid">
	        <h:dataTable id="partidos"  value="#{partidoBean.listaDePartidos}" var="partido" columnClasses="columnTable columnTable1,columnTable columnTable2,columnTable columnTable3,columnTable columnTable4,columnTable columnTable5,columnTable columnTable6,columnTable columnTable7">
	          <h:column>
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.jornada']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.jornada}" />
	  	      </h:column>
	  	      
	  	      <h:column>
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.fecha']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.fecha}" >
	            	<f:convertDateTime pattern="dd/MM/yyyy"/>
	            </h:outputText>
	  	      </h:column>
	
	          <h:column>
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.local']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.equipoLocal.nombre}" />
	          </h:column>
	
	          <h:column>
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.resultado']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.golesLocal}-#{partido.golesVisitante}" />
		  </h:column>
	
	          <h:column>
	             <f:facet name="header">
	                <h:outputText  value="#{msgs['list.visitante']}"/>
	             </f:facet>
	             <h:outputText value="#{partido.equipoVisitante.nombre}" />
	          </h:column>
	
	       <h:column >
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.observaciones']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.observaciones}" />
		  </h:column>
		  
		   <h:column >
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.operaciones']}"/>
	            </f:facet>
	           <h:panelGroup>
	            	<h:commandButton value="#{msgs['list.eliminar']}" action="listado" 
	            		onclick="return confirm('#{msgs['lista.seguroBorrar']}')"
	            		actionListener="#{partidoBean.eliminar}">
	            		        <f:param name="selectedPartido" value="#{partido.idPartido}" />
	           	    </h:commandButton>
	            	<h:button value="#{msgs['list.editar']}" outcome="editar">
	            		<f:param name="selectedPartido" value="#{partido.idPartido}" />
	            	</h:button>
	            </h:panelGroup>
		  </h:column>
		  
	    </h:dataTable>
    </h:panelGrid>
    <h:panelGrid columns="2">
        <h:commandButton value="#{msgs['list.nuevo']}" action="editar" />
        <h:commandButton value="Imprimir" action="imprimir" />
    </h:panelGrid>
</h:form>
</ui:define>
</ui:composition>
