  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"

      template="layout.xhtml">

<ui:define name="cuerpo">
 <f:view>
        <f:metadata>
        	<f:viewParam name="selectedEquipo" value="#{equipoBean.selectedEquipo}"/>
      		<f:event type="preRenderView" listener="#{equipoBean.actualizar}" />
      	 </f:metadata>

	<h:form prependId="false">
    	<h:panelGrid id="MainGrid" columns="2" >
    				
				<h:outputText value="ID Equipo" />
	            <p:inputText  rows="1" value="#{equipoBean.equip.idEquipo}" readonly="true" disabled="true"/>
	                	
			
				<h:outputText value="Nombre del equipo" />
	            <p:inputText  rows="1" value="#{equipoBean.equip.nombre}" />
	              
                <h:outputText value="Dirección"/>
				<p:inputTextarea  rows="3" value="#{equipoBean.equip.direccion}" />
 
				<p:commandButton ajax="false" value="#{msgs['editPartido.GuardarBt']}" action="#{equipoBean.guardaEquipo}"/>
				<p:commandButton ajax="false" value="#{msgs['editPartido.CancelarBt']}" action="listado" immediate="true"/>
		</h:panelGrid>
		<p:messages />
	</h:form>
</f:view>
</ui:define>
</ui:composition>

