  
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"

      template="layout.xhtml">

<ui:define name="cuerpo">
 <f:view>
         <f:metadata>
        	<f:viewParam name="selectedPartido" value="#{partidoBean.selectedPartido}"/>
      		<f:event type="preRenderView" listener="#{partidoBean.actualizar}" />
      	 </f:metadata>

	<h:form prependId="false">
    	<h:panelGrid id="MainGrid" columns="2" >
				<h:outputText value="#{msgs['editPartido.Local']}" />
	                <p:selectOneMenu id="equipoLocal" value="#{partidoBean.partido.equipoLocal}">
    					<f:selectItems value="#{ligaBean.equipos}"/>
    					<f:converter converterId="StringToEquipo"/>
					</p:selectOneMenu>

					<h:outputText value="#{msgs['editPartido.Visitante']}" />
					<p:selectOneMenu id="equipoVisitante" value="#{partidoBean.partido.equipoVisitante}">
						<f:selectItems value="#{ligaBean.equipos}"/>
						<f:converter converterId="StringToEquipo"/>
					</p:selectOneMenu>

				<h:outputText value="#{msgs['editPartido.Jornada']}" />
				
				<!-- TODO: Cambiar a Prime -->
				<p:selectOneMenu value="#{partidoBean.partido.jornada}">
      					<f:selectItems value="#{ligaBean.jornadas}"/>
				</p:selectOneMenu>
				
				<h:outputText value="#{msgs['editPartido.Fecha']}" />
				
				<!-- TODO: Cambiar a Prime -->
				<!-- No hace falta el convertDateTime. Usamos el att format -->
				<p:calendar value="#{partidoBean.partido.fecha}" pattern="dd/MM/yyyy"/>
				
				
				<h:outputText value="#{msgs['editPartido.resultado']}" />
				<h:panelGroup>
                                    <p:inputText id="GolesLocal" required="true" size="2" value="#{partidoBean.partido.golesLocal}">
                                    	<f:validateLongRange minimum="0"/>
                                    </p:inputText>
                                    -
                                    <p:inputText id="GolesVisitante" required="true" size="2" value="#{partidoBean.partido.golesVisitante}">
                                    	<f:validateLongRange minimum="0"/>
                                    </p:inputText>
                                    <h:selectBooleanCheckbox value="#{partidoBean.porJugar}">
                                        <h:outputText value="#{msgs['editPartido.porJugar']}" />
                                	</h:selectBooleanCheckbox>
				</h:panelGroup>

                <h:outputText value="#{msgs['editPartido.observaciones']}"/>
				
				<!-- TODO: Cmabiar a Prime -->
				<p:inputTextarea  rows="10" value="#{partidoBean.partido.observaciones}" />


                
				<p:commandButton ajax="false" value="#{msgs['editPartido.GuardarBt']}" action="#{partidoBean.guardaPartido}"/>
				<p:commandButton ajax="false" value="#{msgs['editPartido.CancelarBt']}" action="listado" immediate="true"/>
		</h:panelGrid>
		<p:messages />
	</h:form>
</f:view>
</ui:define>
</ui:composition>

