<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="layout.xhtml">


<ui:define name="cuerpo">      
<h:form prependId="false">

 		<h:panelGrid id="FilterGrid" columns="1">
		      
		 <h:panelGroup>
		        <h:outputText value="#{msgs['lista.filtroEquipo']}"></h:outputText>
		   		<p:inputText value="#{equipoBean.equipo}">
		   			<p:ajax event="keyup" process="@this" update="equipos" listener="#{equipoBean.filtroEquipo}" />
		   		</p:inputText>   
		      </h:panelGroup>

	    </h:panelGrid>
		    
		<h:panelGrid id="MainGrid" columns="1" columnClasses="columnGrid" styleClass="mainGrid">
	        <p:dataTable paginator="true" rows="4" id="equipos"  value="#{equipoBean.listaDeEquipos}" var="equipo" columnClasses="columnTable columnTable1,columnTable columnTable2,columnTable columnTable3">
	         

	       <p:column>
	            <f:facet name="header">
	                <h:outputText  value="Equipos"/>
	            </f:facet>
	            <h:outputText value="#{equipo.nombre}" />
	          </p:column>
	           
			<p:column>			
	            <f:facet name="header">
	                <h:outputText  value="Direccion"/>
	            </f:facet>
	            <h:outputText value="#{equipo.direccion}" />
	          </p:column> 
	     
		  
		   <p:column >
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.operaciones']}"/>
	            </f:facet>
	           <h:panelGroup>
	           		<!-- TODO: Boton eliminar 
	           			 Comportamiento de Cliente: hacer visible el confirmaDialof confirmation
	           			 Evento: onclick
	           			 Metodo: show()
	           			-->          	
	           			
	            	<p:commandButton value="#{msgs['list.eliminar']}" onclick="PF('confirmation').show()" >
	            		<f:setPropertyActionListener value="#{equipo.idEquipo}" target="#{equipoBean.selectedEquipo}" /> 	
	            	</p:commandButton>
	            	<p:button value="#{msgs['list.editar']}" outcome="editar">
	            		<f:param name="selectedEquipo" value="#{equipo.idEquipo}" />
	            	</p:button>
	            	<p:commandButton ajax="false" action="mapa" image="ui-icon ui-icon-pin-s" >
	            		<f:setPropertyActionListener value="#{equipo.equipo.nombre}" target="#{ligaBean.equipo}" />  
	            	</p:commandButton>	            	
	            </h:panelGroup>
		  </p:column>
		  
	    </p:dataTable>
    </h:panelGrid>
    <h:panelGrid>
        <p:commandButton ajax="false" value="#{msgs['list.nuevo']}" action="editar" />
    </h:panelGrid>

                   
<!-- TODO: Copiar aqui el ConfirmDialog confirmation (transpa 50)-->

<p:confirmDialog message="#{msgs['lista.seguroBorrar']}"
				 showEffect="bounce" hideEffect="explode"
				 severity="alert" widgetVar="confirmation">
				 
				<p:commandButton update="MainGrid" process="@this"
								 value="#{msgs['lista.si']}"
								 oncomplete="PF('confirmation').hide()"
								 actionListener="#{equipoBean.eliminar}"/>
								 
				<p:commandButton value="#{msgs['lista.no']}"
								 onclick="PF('confirmation').hide()" />
</p:confirmDialog>
 
</h:form>
</ui:define>
</ui:composition>
