<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="layout.xhtml">


<ui:define name="cuerpo">      
<h:form prependId="false">

 		<h:panelGrid id="FilterGrid" columns="2">
		      <h:panelGroup>
		        <h:outputText value="#{msgs['lista.filtroJornada']}"></h:outputText>
		   		<p:selectOneMenu value="#{partidoBean.jornada}" >
		   			<f:selectItem  itemValue="Todas" itemLabel="#{msgs['lista.todas']}"/>
		   			<f:selectItems value="#{ligaBean.jornadas}"/>
		   			<p:ajax process="@this" update="partidos" listener="#{partidoBean.filtroJornada}" />
		   		</p:selectOneMenu>
		      </h:panelGroup>
		      <h:panelGroup>
		        <h:outputText value="#{msgs['lista.filtroEquipo']}"></h:outputText>
		   		<p:inputText value="#{partidoBean.equipo}">
		   			<p:ajax event="keyup" process="@this" update="partidos" listener="#{partidoBean.filtroEquipo}" />
		   		</p:inputText>   
		      </h:panelGroup>
	    </h:panelGrid>
		    
		<h:panelGrid id="MainGrid" columns="1" columnClasses="columnGrid" styleClass="mainGrid">
	        <p:dataTable paginator="true" rows="5" id="partidos"  value="#{partidoBean.listaDePartidos}" var="partido" columnClasses="columnTable columnTable1,columnTable columnTable2,columnTable columnTable3,columnTable columnTable4,columnTable columnTable5,columnTable columnTable6,columnTable columnTable7">
	          <p:column>
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.jornada']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.jornada}" />
	  	      </p:column>
	  	      
	  	      <p:column>
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.fecha']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.fecha}" >
	            	<f:convertDateTime pattern="dd/MM/yyyy"/>
	            </h:outputText>
	  	      </p:column>
	
	          <p:column>
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.local']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.equipoLocal.nombre}" />
	          </p:column>
	
	          <p:column>
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.resultado']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.golesLocal}-#{partido.golesVisitante}" />
		     </p:column>
	
	         <p:column>
	             <f:facet name="header">
	                <h:outputText  value="#{msgs['list.visitante']}"/>
	             </f:facet>
	             <h:outputText value="#{partido.equipoVisitante.nombre}" />
	         </p:column>
	
	       <p:column >
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.observaciones']}"/>
	            </f:facet>
	            <h:outputText value="#{partido.observaciones}" />
		  </p:column>
		  
		   <p:column >
	            <f:facet name="header">
	                <h:outputText  value="#{msgs['list.operaciones']}"/>
	            </f:facet>
	           <h:panelGroup>
	           		<!-- TODO: Boton eliminar 
	           			 Comportamiento de Cliente: hacer visible el confirmaDialof confirmation
	           			 Evento: onclick
	           			 Metodo: show()
	           			-->          	
	           			
	            	<p:commandButton value="#{msgs['list.eliminar']}" onclick="PF('confirmation').show()" >
	            		<f:setPropertyActionListener value="#{partido.idPartido}" target="#{partidoBean.selectedPartido}" /> 	
	            	</p:commandButton>
	            	<p:button value="#{msgs['list.editar']}" outcome="editar">
	            		<f:param name="selectedPartido" value="#{partido.idPartido}" />
	            	</p:button>
	            	<p:commandButton ajax="false" action="mapa" image="ui-icon ui-icon-pin-s" >
	            		<f:setPropertyActionListener value="#{partido.equipoLocal.nombre}" target="#{ligaBean.equipo}" />  
	            	</p:commandButton>	            	
	            </h:panelGroup>
		  </p:column>
		  
	    </p:dataTable>
    </h:panelGrid>
    <h:panelGrid>
        <p:commandButton ajax="false" value="#{msgs['list.nuevo']}" action="editar" />
    </h:panelGrid>

                   
<!-- TODO: Copiar aqui el ConfirmDialog confirmation (transpa 50)-->

<p:confirmDialog message="#{msgs['lista.seguroBorrar']}"
				 showEffect="bounce" hideEffect="explode"
				 severity="alert" widgetVar="confirmation">
				 
				<p:commandButton update="MainGrid" process="@this"
								 value="#{msgs['lista.si']}"
								 oncomplete="PF('confirmation').hide()"
								 actionListener="#{partidoBean.eliminar}"/>
								 
				<p:commandButton value="#{msgs['lista.no']}"
								 onclick="PF('confirmation').hide()" />
</p:confirmDialog>
 
</h:form>
</ui:define>
</ui:composition>
