<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="layout.xhtml">

        <ui:param name="title" value="GMap"/>
        <ui:define name="script">
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"/>
        </ui:define>
        <ui:define name="cuerpo">  
            <h:form>
            	<h:panelGrid column="1" columnClasses="columnGrid" styleClass="mainGrid">
                	
					<!-- TODO:Definir gmap -->
					<!-- Comprobad como el "define" anterior incluye en la plantilla la libreria de google -->
					<p:gmap center="#{ligaBean.estadioLocation}" type="hybrid" zoom="16” style="width: 800px; height: 450px;" />

                  	<p:commandButton ajax="false" value="#{msgs['error.volver']}" action="listado" />
				</h:panelGrid>
 
            </h:form>
        </ui:define>
</ui:composition>

