
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:ui="http://java.sun.com/jsf/facelets"
	 xmlns:h="http://java.sun.com/jsf/html" >
	
			<ul>
				<li class="current_page_item"><a href="#">Primera</a></li>
				<li><a href="#">Segunda</a></li>
				<li><a href="/piloto_18/faces/listEquipos.xhtml">List Equipos</a></li>
				<li><a href="#">Tercera</a></li>
				<li><a href="#">Copa del Rey</a></li>
				
			</ul>
		
</ui:composition>