body {
	margin: 0;
	padding: 0;
	background: url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3A4648;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #cccccc;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #8EAAB0;
}

a:hover {
}

#wrapper {
	background: url(images/img02.jpg) no-repeat center 115px;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header {
	width: 900px;
	height: 115px;
	margin: 0 auto;
	padding: 0px 50px;
}

/* Logo */

#logo {
	float: left;
	width: 400px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
	padding:10px 0px 0px 0px;
	letter-spacing: -2px;
	font-size: 3.8em;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #8E8E8E;
}

#logo p a {
	color: #8E8E8E;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}


/* Menu */

#menu {
	float: right;
	width: 500px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 20px;
	margin-right: 1px;
	padding: 50px 20px 15px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	margin: 0 auto;
	padding: 30px 30px;
}






#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #4D596A;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 30px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #92A9B6;
}

#footer a {
	color: #92A9B6;
}


.mainGrid{
	width:100%;
	text-align:center;
	border-style:none;
}


.mainTable{
	background-color:white;
	align:center;
	border-style:solid double;
	width:80%;
}


.columnTable{
	padding:5px;
	spacing:10px;
}

.columnTable1{
	width:5%;
}

.columnTable2{
	width:10%;
}

.columnTable3{
	width:15%;
	text-align:center;
}

.columnTable4{
	width:10%;
	text-align:center;
}

.columnTable5{
	width:15%;
	text-align:center;
}

.columnTable6{
	width:30%;
}

.columnTable7{
	width:15%;
}
