<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:composite="http://java.sun.com/jsf/composite">
<body>

<composite:interface>

     <!-- TODO: Añadir atributos title e items como required-->
    <composite:attribute name="title" required="true"></composite:attribute>
    <composite:attribute name="items" required="true"></composite:attribute>
    <composite:attribute name="action" required="true" targets="form:volver"/> 
   
    <composite:attribute name="converter" />
</composite:interface>


<composite:implementation>
	<h:form id="form">
    		<h:outputText value="#{cc.attrs.title}" style="font: bold 20px Georgia, Times New Roman, Times, serif;"/>
			<br/>
		 	<ui:repeat value="#{cc.attrs.items}" var="item">
						<h:outputText value="#{item}" escape="false">
								<f:converter converterId="#{cc.attrs.converter}"/>
						</h:outputText>
						<br/><br/>
			</ui:repeat>
		    
			<h:button value="Imprimir" onclick="window.print();return true;"/>
			<h:commandButton  id="volver" value="Volver" immediate="true"/>
	</h:form>
</composite:implementation>

</body>
</html>
