
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      template="layout.xhtml">

<!-- TODO: Comporbar el uso de composition (arriba) y el atributo template-->

<!-- TODO: Crear etiqueta define que contenga la vista (apertura y cierre)-->
 <ui:define name="cuerpo">
 
 <f:view>
         <f:metadata>
        	<f:viewParam name="selectedPartido" value="#{partidoBean.selectedPartido}"/>
      		<f:event type="preRenderView" listener="#{partidoBean.actualizar}" />
      	 </f:metadata>

	<h:form prependId="false">
    	<h:panelGrid id="MainGrid" columns="2" >
				<h:outputText value="#{msgs['editPartido.Local']}" />
	                <h:selectOneMenu id="equipoLocal" value="#{partidoBean.partido.equipoLocal}">
    					<f:selectItems value="#{ligaBean.equipos}"/>
    					<f:converter converterId="StringToEquipo"/>
					</h:selectOneMenu>

					<h:outputText value="#{msgs['editPartido.Visitante']}" />
					<h:selectOneMenu id="equipoVisitante" value="#{partidoBean.partido.equipoVisitante}">
						<f:selectItems value="#{ligaBean.equipos}"/>
						<f:converter converterId="StringToEquipo"/>
					</h:selectOneMenu>

				<h:outputText value="#{msgs['editPartido.Jornada']}" />
				<h:selectOneMenu value="#{partidoBean.partido.jornada}">
      					<f:selectItems value="#{ligaBean.jornadas}"/>
				</h:selectOneMenu>
				
				<h:outputText value="#{msgs['editPartido.Fecha']}" />
				<h:inputText value="#{partidoBean.partido.fecha}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
					<f:validator validatorId="dateValidator"/>
				</h:inputText>
				
				<h:outputText value="#{msgs['editPartido.resultado']}" />
				<h:panelGroup>
                                    <h:inputText id="GolesLocal" required="true" size="2" value="#{partidoBean.partido.golesLocal}">
                                    	<f:validateLongRange minimum="0"/>
                                    </h:inputText>
                                    -
                                    <h:inputText id="GolesVisitante" required="true" size="2" value="#{partidoBean.partido.golesVisitante}">
                                    	<f:validateLongRange minimum="0"/>
                                    </h:inputText>
                                    <h:selectBooleanCheckbox value="#{partidoBean.porJugar}">
                                        <h:outputText value="#{msgs['editPartido.porJugar']}" />
                                	</h:selectBooleanCheckbox>
				</h:panelGroup>

                <h:outputText value="#{msgs['editPartido.observaciones']}"/>
				<h:inputTextarea  rows="10" value="#{partidoBean.partido.observaciones}" />


                
				<h:commandButton value="#{msgs['editPartido.GuardarBt']}" action="#{partidoBean.guardaPartido}"/>
				<h:commandButton value="#{msgs['editPartido.CancelarBt']}" action="listado" immediate="true"/>
		</h:panelGrid>
		<h:messages />
	</h:form>
</f:view>

</ui:define>
</ui:composition>

