<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Gesti&oacute;n de Partidos</title>
	<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</h:head>

<h:body>
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1>Gesti&oacute;n de Partidos</h1>
		</div>
		<div id="menu">
			<!-- TODO: Incluir navegacion.xhtml-->
			<ui:include src="navegacion.xhtml"></ui:include>
		</div>
	</div>
	<div id="page">
			<!-- TODO: Crear punto de inserción "cuerpo"-->
			<ui:insert name="cuerpo"></ui:insert>
	</div>

</div>

<div id="footer">
	<p>
	<!-- TODO: Incluir pie.xhtml-->
	<ui:include src="pie.xhtml"></ui:include>
	</p>
</div>
<!-- end #footer -->
</h:body>
</html>
