<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Liga de Futbol</title>
    </h:head>
    <h:body>
      <f:view>
	<h:form>
    	<h:panelGrid id="MainGrid" columns="2" >
				<h:outputText value="Equipo Local" />
	                <h:selectOneMenu id="equipoLocal" >
    					<f:selectItems value="#{ligaBean.equipos}" /> <!-- Definir atributo value enlazado con ligaBean.equipos-->
					</h:selectOneMenu>

					<h:outputText value="Equipo Visitante" />
					<h:selectOneMenu id="equipoVisitante" >
						<f:selectItems value="#{ligaBean.equipos}" /> <!-- Definir atributo value enlazado con ligaBean.equipos-->
					</h:selectOneMenu>

				<h:outputText value="Jornada" />
				<h:selectOneMenu id="jornada">
      					<f:selectItems value="#{ligaBean.jornadas}" /> <!-- Definir atributo value enlazado con ligaBean.jornadas-->
				</h:selectOneMenu>
				
				<h:outputText value="Fecha"/>
				<h:inputText />	

				<h:outputText value="Resultado" />
				<h:panelGroup>
                                    <h:inputText size="2" />
                                    -
                                    <h:inputText size="2" />
                                    <h:selectBooleanCheckbox >
                                        <h:outputText value="Por Jugar" />
                                	</h:selectBooleanCheckbox>
				</h:panelGroup>

                <h:outputText value="Observaciones"/>
				<h:inputTextarea  rows="10"  />


                
				<h:commandButton value="Guardar" action="volver"/>

		</h:panelGrid>
	</h:form>
</f:view>
    </h:body>
</html>

