<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Liga de Futbol</title>
    </h:head>
    <body>
 <f:view>       
<h:form id="bookList">
        <h:dataTable id="partidos" value="#{partidoBean.listaDePartidos}" var="partido">  <!-- Definir atributo value enlazado con partidoBean.listaDePartidos -->
          <h:column>
            <f:facet name="header">
                <h:outputText  value="Jornada"/>
            </f:facet>
            <h:outputText value="#{partido.jornada}" /> <!-- Definir atributo value enlazado con la jornada de un partido -->
  	  </h:column>

          <h:column>
            <f:facet name="header">
                <h:outputText  value="Local"/>
            </f:facet>
            <h:outputText  value="#{partido.equipoLocal.nombre}"/> <!-- Definir atributo value enlazado con el nombre del equipo local de un partido -->
          </h:column>

          <h:column>
            <f:facet name="header">
                <h:outputText  value="Resultado"/>
            </f:facet>
            <h:outputText value="#{partido.golesLocal}-#{partido.golesVisitante}" />
	  </h:column>

          <h:column>
             <f:facet name="header">
                <h:outputText  value="Visitante"/>
             </f:facet>
             <h:outputText value="#{partido.equipoVisitante.nombre}" />
          </h:column>

          <h:column >
            <f:facet name="header">
                <h:outputText  value="Observaciones"/>
            </f:facet>
            <h:outputText value="#{partido.observaciones}" />
	  </h:column>
    </h:dataTable>
    <h:panelGrid>
        <h:commandButton value="Nuevo" action="editar" />
    </h:panelGrid>
</h:form>
</f:view>
    </body>
</html>
