<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Liga de Futbol</title>
         <f:metadata>
        	<f:viewParam name="selectedPartido" value="#{partidoBean.selectedPartido}"/>
      		<f:event type="preRenderView" listener="#{partidoBean.actualizar}" />
      	 </f:metadata>
    </h:head>
    <h:body>
      <f:view>
	<h:form prependId="false">
    	<h:panelGrid id="MainGrid" columns="2" >
				<h:outputText value="Equipo Local" />
	                <h:selectOneMenu id="equipoLocal" value="#{partidoBean.partido.equipoLocal}" binding="#{partidoBean.equipoLocalComponent}" >
    					<f:selectItems value="#{ligaBean.equipos}"/>
    					<f:converter converterId="StringToEquipo"/>
					</h:selectOneMenu>

					<h:outputText value="Equipo Visitante" />
					<h:selectOneMenu id="equipoVisitante" value="#{partidoBean.partido.equipoVisitante}" binding="#{partidoBean.equipoVisitanteComponent}" >
						<f:selectItems value="#{ligaBean.equipos}"/>
						<f:converter converterId="StringToEquipo"/>
					</h:selectOneMenu>

				<h:outputText value="Jornada" />
				<h:selectOneMenu value="#{partidoBean.partido.jornada}">
      					<f:selectItems value="#{ligaBean.jornadas}"/>
				</h:selectOneMenu>
				
				<h:outputText value="Fecha" />
				<h:inputText value="#{partidoBean.partido.fecha}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
					<f:validator validatorId="dateValidator"/>
				</h:inputText>
				
				<h:outputText value="Resultado" />
				<h:panelGroup>
                                    <h:inputText id="GolesLocal" required="true" size="2" value="#{partidoBean.partido.golesLocal}">
                                    	<f:validateLongRange minimum="0"/>
                                    </h:inputText>
                                    -
                                    <h:inputText id="GolesVisitante" required="true" size="2" value="#{partidoBean.partido.golesVisitante}">
                                    	<f:validateLongRange minimum="0"/>
                                    </h:inputText>
                                    <h:selectBooleanCheckbox value="#{partidoBean.porJugar}">
                                        <h:outputText value="Por Jugar" />
                                	</h:selectBooleanCheckbox>
				</h:panelGroup>

                <h:outputText value="Observaciones"/>
				<h:inputTextarea  rows="10" value="#{partidoBean.partido.observaciones}" />


                
				<h:commandButton value="Guardar" action="#{partidoBean.guardaPartido}"/>
				<h:commandButton value="Cancelar" action="listado" immediate="true"/>
		</h:panelGrid>
		<h:messages />
	</h:form>
</f:view>
    </h:body>
</html>

