<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Liga de Futbol</title>
        <link rel="stylesheet" type="text/css" href="style.css" ></link>
    </h:head>
    <body>
 <f:view>       
<h:form id="bookList">


 		<h:panelGrid id="FilterGrid" columns="2">
		      <h:panelGroup>
		        <h:outputText value="Filtro por Jornada"></h:outputText>
		   		<h:selectOneMenu onchange="this.form.submit()" valueChangeListener="#{partidoBean.filtroJornada}">
		   			<f:selectItem  itemValue="Todas" itemLabel="Todas"/>
		   			<f:selectItems value="#{ligaBean.jornadas}"/>
		   		</h:selectOneMenu>
		      </h:panelGroup>
		      <h:panelGroup>
		        <h:outputText value="Filtro por Equipo"></h:outputText>
		   		<h:inputText value="#{partidoBean.equipo}"></h:inputText>   
		   		<h:commandButton value="ok" actionListener="#{partidoBean.filtroEquipo}"></h:commandButton>
		      </h:panelGroup>
	    </h:panelGrid>
		    




		<h:panelGrid id="MainGrid" columns="1" columnClasses="columnGrid" styleClass="mainGrid">
	        <h:dataTable id="partidos"  value="#{partidoBean.listaDePartidos}" var="partido" columnClasses="columnTable columnTable1,columnTable columnTable2,columnTable columnTable3,columnTable columnTable4,columnTable columnTable5,columnTable columnTable6,columnTable columnTable7">
	          <h:column>
	            <f:facet name="header">
	                <h:outputText  value="Jornada"/>
	            </f:facet>
	            <h:outputText value="#{partido.jornada}" />
	  	      </h:column>
	  	      
	  	      <h:column>
	            <f:facet name="header">
	                <h:outputText  value="Fecha"/>
	            </f:facet>
	            <h:outputText value="#{partido.fecha}" >
	            	<f:convertDateTime pattern="dd/MM/yyyy"/>
	            </h:outputText>
	  	      </h:column>
	
	          <h:column>
	            <f:facet name="header">
	                <h:outputText  value="Local"/>
	            </f:facet>
	            <h:outputText value="#{partido.equipoLocal.nombre}" />
	          </h:column>
	
	          <h:column>
	            <f:facet name="header">
	                <h:outputText  value="Resultado"/>
	            </f:facet>
	            <h:outputText value="#{partido.golesLocal}-#{partido.golesVisitante}" />
		  </h:column>
	
	          <h:column>
	             <f:facet name="header">
	                <h:outputText  value="Visitante"/>
	             </f:facet>
	             <h:outputText value="#{partido.equipoVisitante.nombre}" />
	          </h:column>
	
	       <h:column >
	            <f:facet name="header">
	                <h:outputText  value="Observaciones"/>
	            </f:facet>
	            <h:outputText value="#{partido.observaciones}" />
		  </h:column>
		  
		   <h:column >
	            <f:facet name="header">
	                <h:outputText  value="Operaciones"/>
	            </f:facet>
	           <h:panelGroup>
	            	<h:commandButton value="Eliminar" action="listado" 
	            		onclick="return confirm('Va a borrar un Partido. Seguro?')"
	            		actionListener="#{partidoBean.eliminar}">
	            		        <f:param name="selectedPartido" value="#{partido.idPartido}" />
	           	    </h:commandButton>
	            	<h:button value="Editar" outcome="editar">
	            		<f:param name="selectedPartido" value="#{partido.idPartido}" />
	            	</h:button>
	            </h:panelGroup>
		  </h:column>
		  
	    </h:dataTable>
    </h:panelGrid>
    <h:panelGrid>
        <h:commandButton value="Nuevo" action="editar" />
    </h:panelGrid>
</h:form>
</f:view>
    </body>
</html>
