<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Saludo</title>
    </h:head>
    <h:body>
      <f:view>
	<h:form>
    	<h:panelGrid id="MainGrid" columns="2" >
				<h:outputText value="Saludo Actual" />
                <h:inputText value="#{saludoBean.saludo}" />
                <h:commandButton value="Guardar" action="volver"/>
		</h:panelGrid>
	</h:form>
</f:view>
    </h:body>
</html>

